* {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'truelike';
    src: url(fontes/Truelike-lwyV.ttf);
}

@font-face {
    font-family: 'deutshslander';
    src: url(fontes/Deutschlander-O5we.ttf);
}

@font-face {
    font-family: 'fools';
    src: url(fontes/FoolsErrand-Azr7.ttf);
}

@font-face {
    font-family: 'homunculus';
    src: url(fontes/Homunculus-zVDa.ttf);
}

@font-face {
    font-family: 'cloister';
    src: url(fontes/CloisterBlack.ttf);
}

@font-face {
    font-family: 'chomsky';
    src: url(fontes/Chomsky.woff);
}

@font-face {
    font-family: 'square';
    src: url(fontes/TimesSquare-m105.ttf);
}

@font-face {
    font-family: 'slim';
    src: url(fontes/Slimlines-MMKJ.ttf);
}

body {
    background-image: url(imagens/textura_papernews.jpeg);
}

h1 {
    font-family: 'chomsky', 'truelike', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* color: #020233; */
    color: rgb(125, 0, 0);
    margin-left: 3rem;
}

h2 {
    font-family: 'chomsky', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* margin-top: 3rem; */
    /* margin-left: 1rem; */
}

.listas {
    display: flex;
    /* display:flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 100%;
}

.line {
    padding: 1.50px;
    background-color: #0a0a88;
}

#logo {
    width: 10%;
    height: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.b1>button {
    display: none;
    padding: 15px 15px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 10px;
    border: 3px solid #0a0a88;
}

.b2>button {
    background-color: transparent;
    cursor: pointer;
    font-family: 'fools', Arial, 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: -900;
    border: none;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;

}

.clima {
    font-family: 'homunculus', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#cabecalho {
    background-image: url(imagens/textura_papernews.jpeg);
    flex-wrap: wrap;
}

#section1 {
    /* padding: 28rem; */
    /* background-image: url(imagens/the\ new\ york\ times.png); */
    background-image: url(imagens/textura_papernews.jpeg);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* display:flexbox; */
}

#inside_lines {
    padding: 8px;
    display: flex;
    justify-content: left;
}

#p1 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
}

#p2 {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 95px;
    /* margin-top: 8px; */
    font-weight: 900;
}

#p3 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    margin-left: 90px;
    /* margin-top:  8px; */
}

#p4 {
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    /* font-weight: 900; */
    margin-left: 190px;
    /* margin-top:  8px; */
}

#noticia2>div {
    padding: 8rem;
    display: flex;
    justify-content: space-around;
    background-image: url(imagens/noticia2/GBL-VLS-29.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain;
    margin: 20px;
}

div >.titulo-noticias{
   font-size:7.0em ;
   font-weight: 500;
    text-align: center;
    color: #000000;
}


#noticias> .amostra1> div>a>img {

    display: flex;
    width: 5%;
    height: 20%;
}


 /*Inicio da edição do menu lateral*/
 #menu-noticia>nav>ul {
    display: flex;
    justify-content: space-around;
}

#menu-noticia>nav>ul>a {
    text-decoration: none;
    font-family: 'slim', 'Times New Roman', Times, serif;
  
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(0, 0, 0);

    padding: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#menu-noticia>nav>ul>a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.473);
    transition: 1.0s;
}
 /*Fim edição do menu lateral*/


 /*inicio da edição das noticias aleatorias*/
#noticias {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.geral {
  
    text-align: center;
    display: block;
    margin:  14px ;
    height:50vh ;
    width: 22%;
    display: flex;
   

}

.geral >p {
   
    text-align: center;
    font-size: 26px;
    font-weight: 800;
color: rgb(15, 15, 15);
}



.amostra1{
    display: flex;
}

.geral>img {
  display: flex;
    border: 2px solid black;
    height: 50%;
    margin: 0;
    margin: 12px;
    width: 100%;
    border-radius: 20px;

}


.amostra2{
    display: flex;
}

 /*Fim da edição das noticias*/

 /*Inicio da edição do mapa lateral*/
#mapa {
    width: 80%;
margin: 10px;
border-radius: 30px;
margin-left: 13%;
}

.maps {
    width: 100%;
    margin: 0;
    height: 40vh;
    border: 0;
}
 /*Fim da edição do mapa*/

 footer {
    padding: 50px;
    background-color: #000000;
 }


 footer > ul > li > a {
   font-family: 'chomsky',Arial, Helvetica, sans-serif;
   text-decoration: none;
   font-size: 2rem;
   color: rgb(255, 255, 255)

    
    
}

