* {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'truelike';
    src: url(fontes/Truelike-lwyV.ttf);
}

@font-face {
    font-family: 'deutshslander';
    src: url(fontes/Deutschlander-O5we.ttf);
}

@font-face {
    font-family: 'fools';
    src: url(fontes/FoolsErrand-Azr7.ttf);
}

@font-face {
    font-family: 'homunculus';
    src: url(fontes/Homunculus-zVDa.ttf);
}

@font-face {
    font-family: 'cloister';
    src: url(fontes/CloisterBlack.ttf);
}

@font-face {
    font-family: 'chomsky';
    src: url(fontes/Chomsky.woff);
}

@font-face {
    font-family: 'square';
    src: url(fontes/TimesSquare-m105.ttf);
}

@font-face {
    font-family: 'slim';
    src: url(fontes/Slimlines-MMKJ.ttf);
}

body {
    background-image: url(imagens/textura_papernews.jpeg);
}

h1 {
    font-family: 'chomsky', 'truelike', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* color: #020233; */
    color: rgb(125, 0, 0);
    margin-left: 3rem;
}

h2 {
    font-family: 'chomsky', 'Courier New', Courier, monospace;
    font-size: 200px;
    margin-top: 1rem;
}

.listas {
    display: flex;
    /* display:flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 100%;
}

.line {
    padding: 1.50px;
    background-color: #0a0a88;
}

#logo {
    width: 10%;
    height: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.b1>button {
    display: none;
    padding: 15px 15px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 10px;
    border: 3px solid #0a0a88;
}

.b2>button {
    background-color: transparent;
    cursor: pointer;
    font-family: 'fools', Arial, 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: -900;
    border: none;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;

}

.clima {
    font-family: 'homunculus', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#cabecalho {
    background-image: url(imagens/textura_papernews.jpeg);
    flex-wrap: wrap;
}

#section1 {
    background-image: url(imagens/textura_papernews.jpeg);
}

#inside_lines {
    padding: 8px;
    display: flex;
    justify-content: left;
}

#p1 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
}

#p2 {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 95px;
    /* margin-top: 8px; */
    font-weight: 900;
}

#p3 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    margin-left: 90px;
    /* margin-top:  8px; */
}

#p4 {
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    /* font-weight: 900; */
    margin-left: 190px;
    /* margin-top:  8px; */
}

.all {
 /* padding: 10rem 10rem; */
    display: flex;
    /*situa lado a lado os elementos da div*/
    flex-wrap: wrap;
    /*para adaptar site a todo tipo de telas (responsiva)*/
    background: linear-gradient(180deg, #0c16a364 8.33%, rgb(5, 39, 101, 0.745)100%), url(mundo/imagens/MAPA-DO-MUNDO.jpg);
    /*coloca filtro [cor em degrade] na imagen fixa*/
    background-position: center;
    /*posicionar imagem para depois aplicar os filtros*/
    background-attachment: fixed;
    /*fixa imagen de fundo*/
    background-size: 100%;
    height: 30rem;
    /*faz quase o mesmo que padding*/
    align-items: center;
    /*faz quase o mesmo que padding*/
}


#noticia2>div {
    padding: 8rem;
    display: flex;
    justify-content: space-around;
    background-image: url(imagens/noticia2/GBL-VLS-29.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: contain;
    margin: 20px;
}

div>.titulo-noticias {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(125, 0, 0);
    color: #ffffff;
}

div>#mundo {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(0, 58, 125);
    color: #ffffff;
}

div>#esporte {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(0, 125, 48);
    color: #ffffff;
}

div>#economia {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(123, 125, 0);
    color: #000000;
}

div>#tecnologia {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(187, 94, 8);
    color: #000000;
}

div>#cultura {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(59, 30, 30);
    color: #ffffff;
}

div>#saude {
    font-size: 3.0em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(66, 8, 121);
    color: #ffffff;
}




/*Inicio da edição do menu lateral*/
#menu-noticia>nav>ul {
    display: flex;
    justify-content: space-around;
}

#menu-noticia>nav>ul>a {
    text-decoration: none;
    font-family: 'slim', 'Times New Roman', Times, serif;

    font-size: 1.3em;
    font-weight: 500;
    color: rgb(0, 0, 0);

    padding: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#menu-noticia>nav>ul>a:hover {
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.473); */
    background-color: rgba(6, 122, 31, 0.733);
    transition: 1.0s;
    color: white;
}

/*Fim edição do menu superior, embaixo de linha azul*/


/*inicio da edição das noticias aleatorias*/
#noticias {
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.geral {
    text-align: center;
    display: block;
    margin: 14px;
    height: 50vh;
    width: 22%;
    display: flex;


}

.geral>a {
    text-decoration: none;

}

.geral>a>p {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: 1rem; */
    text-align: left;

    font-size: 20px;
    font-weight: 800;
    color: rgb(15, 15, 15);
    text-decoration: none;
}

.geral>a>p:hover {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: 1rem; */
    text-align: left;

    font-size: 25px;
    font-weight: 800;
    color: rgb(131, 24, 24);
    text-decoration: none;
    transition: 0.6ms;
}



.amostra1 {
    display: flex;
}

.geral>a>img {
    display: flex;
    /* border: 2px solid black; */
    width: 19rem;
    height: 12rem;
    margin-left: 2rem;
    margin-right: 1rem;
    /* border-radius: 20px; */
}

.geral>a>img:hover {
    display: flex;
    /* border: 2px solid black; */
    width: 21rem;
    height: 14rem;
    margin-left: 2rem;
    margin-right: 1rem;
    /* border-radius: 20px; */
}

.amostra2 {
    display: flex;
}

/*Fim da edição das noticias*/

/*Inicio da edição do mapa lateral*/
#mapa {
    width: 80%;
    margin: 30px;
    border-radius: 30px;
    margin-left: 13%;
}

.maps {
    width: 100%;
    margin: 0;
    height: 40vh;
    border: 0;
}

/*Fim da edição do mapa*/

#rodape {
    align-items: center;
    background-color: #23212170;
    display: flex;

}

#rodape>.footer-part1 {
    align-items: center;
    /* padding: 0 16%; */
    padding: 3rem;
    /* background-color: #111010; */
    background: linear-gradient(155deg, #ffffff 32%, rgb(125, 0, 0) 50%);

    display: flex;

}

.lista-footer {
    display: flex;
    margin: 0 auto;


}

.lista-footer>a {
    text-decoration: none;
    margin-right: 26px;
    text-align: center;
    font-size: 1.5em;
    color: #3b3a3a;
    padding: 100% -10%;
    border-right: 2px solid #222222;
    padding-right: 12px;
}

.lista-footer>a:hover {
    color: #5b5959;
}

#rodape>.footer-texto {
    color: #373535;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: -4%;
}

body>p {
    font-size: 35px;
}

#Texto_voltar_sup {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: end;
    align-items: end;
    display: flex;
    margin-right: 5rem;
}

#icono_voltar {
    width: 2.5%;
    background-color: transparent;
    margin-left: 2rem;

}