* {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'truelike';
    src: url(fontes/Truelike-lwyV.ttf);
}

@font-face {
    font-family: 'deutshslander';
    src: url(fontes/Deutschlander-O5we.ttf);
}

@font-face {
    font-family: 'fools';
    src: url(fontes/FoolsErrand-Azr7.ttf);
}

@font-face {
    font-family: 'homunculus';
    src: url(fontes/Homunculus-zVDa.ttf);
}

@font-face {
    font-family: 'cloister';
    src: url(fontes/CloisterBlack.ttf);
}

@font-face {
    font-family: 'chomsky';
    src: url(fontes/Chomsky.woff);
}

@font-face {
    font-family: 'square';
    src: url(fontes/TimesSquare-m105.ttf);
}

@font-face {
    font-family: 'slim';
    src: url(fontes/Slimlines-MMKJ.ttf);
}


h1 {
    font-family: 'chomsky', 'truelike', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* color: #020233; */
    color: rgb(125, 0, 0);
    margin-left: 3rem;
}

@media(max-width:430px) {
    h1 {
        font-family: 'chomsky', 'truelike', 'Courier New', Courier, monospace;
        font-size: 80px;
        /* color: #020233; */
        color: rgb(125, 0, 0);
        margin-left: 4rem;
        margin-top: -8rem;
    }
}


#h2_news {
    font-family: 'chomsky', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* margin-top: 3rem; */
    /* margin-left: 1rem; */
}

@media(max-width:430px) {
    #h2_news {
        font-family: 'chomsky', 'Courier New', Courier, monospace;
        font-size: 80px;
        margin-top: 1rem;
        color: #0a0a88;
        margin-left: 14rem;
        margin-top: -5.5rem;

    }
}

.listas {
    display: flex;
    /* display:flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-radius: 100%; */
}

@media(max-width:430px) {

    .listas {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.line {
    padding: 1.50px;
    background-color: #0a0a88;
}

.logo_header {
    width: 10%;
    height: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.logo {

    width: 10%;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media(max-width:430px) {
    #logo {
        width: 12%;
        height: 12%;
        margin-bottom: 1.7rem;
        /* margin-bottom: 2rem; */
        margin-left: 1rem;
    }

}


.b1>button {
    display: none;
    padding: 15px 15px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 10px;
    border: 3px solid #0a0a88;
}

.b2>button {
    background-color: transparent;
    cursor: pointer;
    font-family: 'fools', Arial, 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: -900;
    border: none;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;

}

@media(max-width:430px) {
    .b2>button {
        display: none;
        background-color;
        cursor: pointer;
        font-family: 'fools', Arial, 'deutshslander', 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: -900;
        border: none;
        text-align: left;
        margin-top: 0.1rem;
        margin-left: 5rem;
        margin-bottom: 0.1rem;
    }
}


.clima {
    font-family: 'homunculus', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#cabecalho {
    background-image: url(imagens/textura_papernews.jpeg);
    flex-wrap: wrap;
}

#section1 {
    border: 0;
    background-image: url(imagens/textura_papernews.jpeg);
    display: flex;
    justify-content: space-evenly;
}

#inside_lines {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    justify-content: left;
    margin-left: -3rem;
}

@media(max-width:430px) {
    #inside_lines {
        padding: 8px;
        display: flex;
        justify-content: left;
        display: none;
    }
}

@media(max-width:430px) {
    .line {
        display: none;
    }
}


#p1 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
}

@media(max-width:430px) {
    #p1 {
        font-family: 'square', 'Times New Roman', Times, serif;
        font-size: 25px;
        font-style: italic;
        font-weight: 900;
        margin-left: 1rem;
        text-align: left;

    }
}


#p2 {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 1rem;
    font-weight: 900;
}

@media(max-width:430px) {
    #p2 {
        font-family: monospace;
        font-size: 18px;
        font-style: italic;
        font-weight: lighter;
        margin-left: 1rem;
        font-weight: 900;
    }

}


#p3 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    margin-left: 1rem;

}

@media(max-width:430px) {
    #p3 {
        font-family: 'square', 'Times New Roman', Times, serif;
        font-size: 25px;
        font-style: italic;
        font-weight: 900;
        margin-left: 1rem;
        /* display: none; */
        margin-top: 1rem;
        text-align: right;
    }
}


#p4 {
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    margin-left: -8rem;

}

@media(max-width:430px) {
    #p4 {
        display: none;
        font-family: 'slim', 'Times New Roman', Times, serif;
        font-size: 25px;
        font-style: inherit;
        /* font-weight: 900; */
        margin-left: 15rem;
        /* margin-top:  8px; */
    }
}

#p4 >a {
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    /* font-weight: 900; */
    margin-left: 190px;
    /* margin-top:  8px; */
    color: #000000;
    border-bottom:2px solid black ;
    
}

#p4 >a:hover{
    opacity: 80%;
}


.h2_titulo-mapa {
    font-size: 2em;
    /* font-stretch: 500; */

    /* background-color: rgb(120, 169, 235); */
    font-family: 'chomsky', Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(116, 138, 197);
    color: rgb(41, 40, 40);

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    margin-top: 0.2rem;
}

@media(max-width:430px) {
    .h2_titulo-mapa {
        font-family: 'chomsky', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: rgb(116, 138, 197);
        color: rgb(41, 40, 40);
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0.2rem;
    }


}



/*Inicio da edição do menu superior*/
#menu-noticia>nav>ul {
    display: flex;
    justify-content: space-around;
}

#menu-noticia>nav>ul>a {
    text-decoration: none;
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(0, 0, 0);

    padding: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#menu-noticia>nav>ul>a:hover {
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.473); */
    background-color: rgba(6, 122, 31, 0.733);
    transition: 1.0s;
    color: white;
}

/*Fim edição do menu superior, embaixo de linha azul*/


body {
    background-image: url(imagens/textura_papernews.jpeg);
}

#hr_voltar {
    margin: 20px 100px;
    width: 80%;
    color;
    /* border-color: red; */
    height: 1px;
    box-shadow: 0px 1px red;

}

#icono_voltar {
    width: 2.5%;
    background-color: transparent;
    margin-left: 2rem;

}

#Texto_voltar {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}


@media(max-width:430px) {
    #icono_voltar {
        width: 7.5%;
        background-color: transparent;
        margin-left: 2rem;

    }
}


#Texto_voltar {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

#Texto_voltar_sup {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: end;
    align-items: end;
    display: flex;
    margin-right: 5rem;
}

.h2_titulo-noticias {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    /* background-color: rgb(20, 7, 204); */
    color: #ffffff;
    font-family: 'chomsky', Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0.5rem;
}

@media(max-width:430px) {

    .h2_titulo-noticias {

        /* padding: 1rem; */
        font-size: 1.7em;
        text-align: center;
        background-color: rgb(20, 7, 204);
        color: #ffffff;
        font-family: 'chomsky', Verdana, Geneva, Tahoma, sans-serif;
        /* margin-bottom: -10rem; */
    }

}

.Titulo_ppal {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Titulo_ppal h2 {
    width: 100%;
    font-family: 'chomsky', 'Times New Roman', Times, serif;
    font-size: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    color: #0a0a88;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

@media(max-width:430px) {
    .Titulo_ppal h2 {
        width: 100%;
        font-family: 'chomsky', 'Times New Roman', Times, serif;
        font-size: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content:center;
        color: #0a0a88;
        margin-top: 1px;
        margin-bottom: 2rem;
    }

}

.Titulo_ppal h4 {
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* 
#img-noticia {
    justify-content: left;
    align-items: center;
    display: flex;
    align-content: center;
    margin-left: 3rem; 
} */

#img-noticia img {
    width: 30%;
    border-radius: 4%;
    margin-bottom: 1rem;
    margin-top: -8rem;
    margin-left: 6em;

}

@media(max-width:430px) {
    #img-noticia img {
        width: 90%;
        border-radius: 4%;
        /* margin-bottom: -20rem; */
        margin-bottom: 18rem;
        margin-left: 1.1em;
    
    }

}



#tit_not>h3 {
    /* font-family: 'chomsky', 'Times New Roman', Times, serif; */
    font-size: 38px;
    /* display: flex; */
    align-items: center;
    text-align: left;
    justify-content: center;
    color: #000000bd;
    margin-top: 2rem;
    margin-left: 18em;
    margin-right: 3em;

}

p {
    /* font-family: 'chomsky', 'Times New Roman', Times, serif; */
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: #000000fd;
    margin-left: 5rem;
    margin-right: 5rem;
}

@media(max-width:430px) {
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        display: flex;
        align-items: center;
        text-align: justify;
        justify-content: center;
        color: #000000fd;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -16rem;
    }
}


/* ******** AQUI VOY ************* */
#esportes {
    background-image: url(imagens/esportes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    color: black;
    /* border: solid 1px; */
    /* margin-top: 0px; */
    /* margin-left: 2px; */
    /* position: relative; */
}

#internacionais {
    background-image: url(imagens/noticia2/GBL-VLS-29.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#brasil {
    background-image: url(imagens/);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#tecnologia {
    /* background-image: url(imagens/tecnologia.jpeg); *******desactive porque estava atrapalhando o titulo ******** att: japp 12/12/2023 11:19
    background-repeat: no-repeat; */
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    /* height: 233px; */
    /* width: 308px; */
    /* border-radius: 0px; */
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

/* #economia { *******desactive porque estava atrapalhando o titulo ******** att: japp 12/12/2023 5:20
    background-image: url(imagens/economia.jpg); 
    background-image: url(imagens/e);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    border: solid 1px; 
    height: 233px;
    width: 308px;
    border-radius: 0px;
    margin-top: -240px; 
    margin-left: 209px; 
} */

#noticia2>img {
    width: 40%;
    height: 40%;
}

#noticia3 {
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 200px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 1142px; */
}

@media(max-width:430px) {

    .amostra1 {
        display: block;
        margin-left: 1%;

    }

    .amostra2 {
        display: block;
        margin-left: 1%;
    }


    #rodape {
        display: block;
    }

    #rodape>.footer-part1 {
        align-items: center;
        /* padding: 0 16%; */
        padding: 3rem;
        /* background-color: #111010; */
        background: linear-gradient(3deg, #ffffff 10%, rgb(125, 0, 0) 55%);
        border-bottom: 4px solid red;
        display: block;
    }

    .footer-part1 {
        align-items: center;
    }

    .logo {
        margin-left: 45%;
        width: 13%;
        height: 13%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


    .lista-footer>a {
        text-decoration: none;
        margin-right: 6px;
        text-align: center;
        font-size: 1.0em;
        color: #1d1c1c;
        padding: 100% -11%;
        border-right: 2px solid #222222;
        padding-right: 5px;
        flex-wrap: nowrap;

    }

    #rodape>.footer-texto>p {
        color: #1a1919;
        margin: 0 auto;
        font-size: 1.0em;
        margin-top: -6%;


    }

}