* {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'truelike';
    src: url(fontes/Truelike-lwyV.ttf);
}

@font-face {
    font-family: 'deutshslander';
    src: url(fontes/Deutschlander-O5we.ttf);
}

@font-face {
    font-family: 'fools';
    src: url(fontes/FoolsErrand-Azr7.ttf);
}

@font-face {
    font-family: 'homunculus';
    src: url(fontes/Homunculus-zVDa.ttf);
}

@font-face {
    font-family: 'cloister';
    src: url(fontes/CloisterBlack.ttf);
}

@font-face {
    font-family: 'chomsky';
    src: url(fontes/Chomsky.woff);
}

@font-face {
    font-family: 'square';
    src: url(fontes/TimesSquare-m105.ttf);
}

@font-face {
    font-family: 'slim';
    src: url(fontes/Slimlines-MMKJ.ttf);
}


h1 {
    font-family: 'chomsky', 'truelike', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* color: #020233; */
    color: rgb(125, 0, 0);
    margin-left: 3rem;
}

h2 {
    font-family: 'chomsky', 'Courier New', Courier, monospace;
    font-size: 200px;
    /* margin-top: 3rem; */
    /* margin-left: 1rem; */
}

.listas {
    display: flex;
    /* display:flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-radius: 100%; */
}

.line {
    padding: 1.50px;
    background-color: #0a0a88;
}

.logo_header {
    width: 10%;
    height: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.logo{

    width: 10%;
  height: 10%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.b1>button {
    display: none;
    padding: 15px 15px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 10px;
    border: 3px solid #0a0a88;
}

.b2>button {
    background-color: transparent;
    cursor: pointer;
    font-family: 'fools', Arial, 'deutshslander', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: -900;
    border: none;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;

}

.clima {
    font-family: 'homunculus', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#cabecalho {
    background-image: url(imagens/textura_papernews.jpeg);
    flex-wrap: wrap;
}

#section1 {
    border: 0;
    background-image: url(imagens/textura_papernews.jpeg);
    display: flex;
    justify-content: space-evenly;
}

#inside_lines {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    justify-content: left;
    margin-left: -3rem;
}

#p1 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
}

#p2 {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 1rem;
    font-weight: 900;
}

#p3 {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    margin-left: 1rem;

}

#p4 {
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: inherit;
    margin-left: -1rem;
    
}

/*Inicio da edição do menu superior*/
#menu-noticia>nav>ul {
    display: flex;
    justify-content: space-around;
}

#menu-noticia>nav>ul>a {
    text-decoration: none;
    font-family: 'slim', 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(0, 0, 0);

    padding: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#menu-noticia>nav>ul>a:hover {
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.473); */
    background-color: rgba(6, 122, 31, 0.733);
    transition: 1.0s;
    color: white;
}

/*Fim edição do menu superior, embaixo de linha azul*/


body {
    background-image: url(imagens/textura_papernews.jpeg);
}

#hr_voltar {
    margin: 20px 100px;
    width: 80%;
    color;
    /* border-color: red; */
    height: 1px;
    box-shadow: 0px 1px red;

}

#icono_voltar {
    width: 2.5%;
    background-color: transparent;
    margin-left: 2rem;

}

#Texto_voltar {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

#Texto_voltar_sup {
    font-family: 'square', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    justify-content: end;
    align-items: end;
    display: flex;
    margin-right: 5rem;
}

.Titulo_ppal {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Titulo_ppal h2 {
    width: 100%;
    font-family: 'chomsky', 'Times New Roman', Times, serif;
    font-size: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0a0a88;
}

.Titulo_ppal h4 {
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
}


#img-noticia {
    justify-content: left;
    align-items: center;
    display: flex;
    align-content: center;
    margin-left: 3rem;


}

#img-noticia img {
    width: 30%;
    border-radius: 4%;
    margin-bottom: 1rem;
    margin-top: -8rem;
    margin-left: 6em;

}

#tit_not>h3 {
    /* font-family: 'chomsky', 'Times New Roman', Times, serif; */
    font-size: 38px;
    /* display: flex; */
    align-items: center;
    text-align: left;
    justify-content: center;
    color: #000000bd;
    margin-top: 2rem;
    margin-left: 18em;
    margin-right: 3em;

}

p {
    /* font-family: 'chomsky', 'Times New Roman', Times, serif; */
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: #000000fd;
    margin-left: 5rem;
    margin-right: 5rem;
}

/* ******** AQUI VOY ************* */
#esportes {
    background-image: url(imagens/esportes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    color: black;
    /* border: solid 1px; */
    /* margin-top: 0px; */
    /* margin-left: 2px; */
    /* position: relative; */
}

#internacionais {
    background-image: url(imagens/noticia2/GBL-VLS-29.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#brasil {
    background-image: url(imagens/);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#tecnologia {
    background-image: url(imagens/tecnologia.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#economia {
    background-image: url(imagens/economia.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 308px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 209px; */
}

#noticia2>img {
    width: 40%;
    height: 40%;
}

#noticia3 {
    color: black;
    /* border: solid 1px; */
    height: 233px;
    width: 200px;
    border-radius: 0px;
    /* margin-top: -240px; */
    /* margin-left: 1142px; */
}

@media(max-width:430px){
  
    .amostra1{
        display: block;
        margin-left: 3%;
     
    }

    .amostra2{
        display: block;
        margin-left: 3%;
    }

  #rodape{
        display: block;
    }

    #rodape>.footer-part1 {
        align-items: center;
        /* padding: 0 16%; */
        padding: 3rem;
        /* background-color: #111010; */
        background: linear-gradient(3deg, #ffffff 10%, rgb(125, 0, 0) 55%);
        border-bottom: 4px solid red;
    display: block;
    }
    .footer-part1{
    align-items: center;
    }

.logo{
      margin-left: 45%;
      width: 13%;
    height: 13%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


    .lista-footer>a {
        text-decoration: none;
        margin-right: 5px;
        text-align: center;
        font-size: 1.1em;
       color: #252424;
        padding: 100% -10%;
        border-right: 2px solid #222222;
        padding-right: 8px;
        
        
    }

    #rodape>.footer-texto>p {
        color: #1a1919;
        margin: 0 auto;
        font-size: 1.0em;
        margin-top: -6%;
      
        
    }

}
